session_3/start_example/node_modules
session_3/start_example/package-lock.json
session_4/node_modules
session_4/package-lock.json
full_app/node_modules
full_app/package-lock.json
full_app/.env
serverless-example/node_modules
serverless-example/package-lock.json
serverless-example/serverless-express/node_modules
serverless-example/serverless-express/package-lock.json
